/*CSS for forms*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/*Style for board creation (table used)*/

#board {
  min-width: 60%;
}

tr{
	border-bottom: 0px;
}

table, tr, td{
	padding: 0px;
	max-width: 102px;
}

td {
  width: 16.66667%;
  position: relative;
}


/*Style to create rotating effect and showing the icons*/
td .tile {
  position: absolute;
  box-shadow: 1px 1px 2px 2px grey;
	background-color: #a63434;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3px;
	width: 98%;
	height: 98%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	margin:2px;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .flipped{
  position: absolute;
  box-shadow: 1px 1px 2px 2px grey;
	background-color: white;
	border: 2px solid #a63434;
	border-radius: 5px;
	padding: 3px;
	width: 98%;
	height: 98%;
	vertical-align: top;
	display: flex;
	text-align: center;
	/*font-size: 7rem;*/
	margin:2px;
	transform: rotateY(360deg);
	transition: width 0.4s, background-color 0.5s, transform 0.7s;
	}


/*CSS used to make sure that the icons fit and stay in the middle of the tiles based on the used device/screenwidth*/
i.medium {
    	font-size: calc(3vw + 2vh);
    	margin: auto;
}

.material-icons, .icon-text {
      vertical-align: middle;
    }

/*styling the game page*/
.select-wrapper input.select-dropdown{
  border: 0 !important;
}

.tracking-info{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}
.margin-top{
  margin-top: 10px !important;
}

/*styling the navbar*/
nav {
    color: #fff;
    background-color: #a63434;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.active-user{
    font-size: 1rem;
    color: #fff;
    padding: 0 15px;
}


/*styling the leaderboard page*/
.custom-width{
  width: 130px;
}

.avatar{
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}
