#board {
  min-width: 60%;
}

tr{
	border-bottom: 0px;
}

table, tr, td{
	padding: 0px;
	max-width: 102px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

td {
  width: 16.66667%;
  position: relative;
}

td .tile {
  position: absolute;
  box-shadow: 1px 1px 2px 2px grey;
	background-color: #a63434;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3px;
	width: 98%;
	height: 98%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	margin:2px;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td .flipped{
  position: absolute;
  box-shadow: 1px 1px 2px 2px grey;
	background-color: white;
	border: 2px solid #a63434;
	border-radius: 5px;
	padding: 3px;
	width: 98%;
	height: 98%;
	vertical-align: top;
	display: flex;
	text-align: center;
	/*font-size: 7rem;*/
	margin:2px;
	transform: rotateY(360deg);
	transition: width 0.4s, background-color 0.5s, transform 0.7s;
	}
	
	i.medium {
    	font-size: calc(3vw + 3vh);
    	margin: auto;
}

.material-icons, .icon-text {
      vertical-align: middle;
    }

nav {
    color: #fff;
    background-color: #a63434;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.tracking {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.avatar{
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}
